@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    -webkit-tap-highlight-color: transparent;
  }

  body {
    @apply m-0 min-h-screen bg-surface font-sans text-white antialiased;
  }

  #root {
    @apply min-h-screen;
  }

  input::placeholder {
    @apply text-white/30;
  }

  .scrollbar-none {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }

  .scrollbar-none::-webkit-scrollbar {
    display: none;
  }
}
